<ul>
    <li>
        <a asp-action="AllRoles" asp-controller="Administration">Gerenciar papéis</a>
    </li>
    <li>
        <a asp-action="ListUsers" asp-controller="Administration">Gerenciar Usuários</a>
    </li>
</ul>

