@model RoleInputModel

@{
    ViewBag.Title = "Novo papel";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


<form asp-controller="Administration" asp-action="NewRole" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Role">Papel</label>
        <input class="form-control" asp-for="Role" placeholder="Papel" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-secondary" value="Cadastrar" />
</form>


