@inject SignInManager<User> signInManger
@model IEnumerable<PortalDeTraducoes.Models.ViewModels.GameViewModel>


    

<div class="row">
    <div class="col-12 mb-2">
        @if (signInManger.IsSignedIn(User))
        {
            <div>
                <a asp-action="NewGame" asp-controller="Games" class="btn btn-primary">Novo jogo</a>
            </div>
        }
    </div>
    <div class="col-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <h3>Jogos</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
              
                @foreach (var item in Model)
                {
                    <tr><td><a asp-controller="Games" asp-action="Game" asp-route-id="@item.ID">@($"{item.Title}({string.Join(" ", item.Platforms)})")</a></td></tr>


                }


            </tbody>
        </table>
        

        </div>
    
</div>


