@inject SignInManager<User> signInManger
@model IEnumerable<PortalDeTraducoes.Models.ViewModels.GameViewModel>


    

<div class="d-flex justify-content-between">
    <div>
        <h3>Jogos</h3>
    </div>
    @if (signInManger.IsSignedIn(User))
    {
        <div>
            <a asp-action="NewGame" asp-controller="Games" class="btn btn-primary">Novo jogo</a>
        </div>
    }
</div>

<div class="row">
    <div class="col">
        @foreach (var item in Model)
        {
            <div class="card mb-4" style="width: 50rem;">
                <div class="card-body">
                    <a asp-controller="Games" asp-action="Game" asp-route-title="@item.Title">@item.Title</a>
                    
                </div>
            </div>
        }

        </div>
    
</div>


