<style>
    .form-signin {
        width: 100%;
        max-width: 600px;
        padding: 15px;
        margin: 0 auto;
    }
</style>
 <form class="form-signin" asp-controller="Home" asp-action="Login" method="post">
    <h3>Entrar</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="NickName" name="NickName" placeholder="Apelido" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Senha" />
    </div>
    <div class="form-group d-flex justify-content-between">
        <div>
            <small><a asp-controller="Home" asp-action="Register">Cadastrar</a></small>
        </div>
        <div>
            <small><a asp-controller="Home" asp-action="Register">Esqueceu senha</a></small>
        </div>
       
    </div>

    <input type="submit" class="btn btn-primary" value="Entrar" />
</form>

